Main/Service References/EmployeeService/Management.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Employee" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Employee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iwservices/Employee/Management.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EmpInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACDLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeptID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="EmpLevel" type="xs:int" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameFirstLast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameLastFirst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IcomsID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IcomsUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoTypeList" nillable="true" type="tns:ArrayOfInfoTypeItem" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegacyWOWID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:LookupInstance" />
      <xs:element minOccurs="0" name="NTLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="tns:LookupInstance" />
      <xs:element minOccurs="0" name="PayrollID" type="xs:int" />
      <xs:element minOccurs="0" name="SupEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupEmpID" type="xs:int" />
      <xs:element minOccurs="0" name="SupFName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupLName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupNTLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupNameFirstLast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupNameLastFirst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidEmployee" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpInstance" nillable="true" type="tns:EmpInstance" />
  <xs:complexType name="ArrayOfInfoTypeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoTypeItem" nillable="true" type="tns:InfoTypeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoTypeItem" nillable="true" type="tns:ArrayOfInfoTypeItem" />
  <xs:complexType name="InfoTypeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Private" type="xs:boolean" />
      <xs:element minOccurs="0" name="TypeID" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueDataType" nillable="true" type="tns:LookupInstance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoTypeItem" nillable="true" type="tns:InfoTypeItem" />
  <xs:complexType name="LookupInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetailText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupInstance" nillable="true" type="tns:LookupInstance" />
  <xs:complexType name="UnhandledServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnhandledServiceFault" nillable="true" type="tns:UnhandledServiceFault" />
  <xs:complexType name="HandledServiceFault">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Args" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HandledServiceFault" nillable="true" type="tns:HandledServiceFault" />
</xs:schema>