Branches/AG_19JUN15/Service References/CustomerService/CustomerManagement42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Customer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iwservices/Customer/CustomerManagement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Address" />
  <xs:complexType name="Cust">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Address" minOccurs="0" name="Address" nillable="true" type="q1:AddressIcoms" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameFirstLast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameLastFirst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IcomsCustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPhone" nillable="true" type="tns:PhoneNumber" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryPhone" nillable="true" type="tns:PhoneNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cust" nillable="true" type="tns:Cust" />
  <xs:complexType name="PhoneNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormattedPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneOnly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneNumber" nillable="true" type="tns:PhoneNumber" />
</xs:schema>