Branches/CRhoades_02-09-2015/Service References/CryptoSvc/CCCCrypto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="encrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueToEncrypt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="encryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encryptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueToDecrypt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="decryptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>