Branches/CR_27MAY15/Service References/AddressService/AddressManagement3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iwservices/Address/AddressManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Address" />
  <xs:element name="getAddressByLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Address" minOccurs="0" name="getAddressByLocationResult" nillable="true" type="q1:AddressIcoms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Address" minOccurs="0" name="inputAddress" nillable="true" type="q2:AddressBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Address" minOccurs="0" name="validateAddressResult" nillable="true" type="q3:AddressValidateOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buildAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Address" minOccurs="0" name="inputAddress" nillable="true" type="q4:AddressBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buildAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Address" minOccurs="0" name="buildAddressResult" nillable="true" type="q5:AddressBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressByAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Address" minOccurs="0" name="inputAddress" nillable="true" type="q6:AddressBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressByAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Address" minOccurs="0" name="getAddressByAddressResult" nillable="true" type="q7:AddressIcoms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>