CR_060515/Service References/OrderUpdateService/OrderUpdate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wowway.com/services/" elementFormDefault="qualified" targetNamespace="http://wowway.com/services/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationException" nillable="true" type="tns:ValidationException" />
  <xs:complexType name="BillingSystemException">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingSystemException" nillable="true" type="tns:BillingSystemException" />
</xs:schema>