Main/Web References/PortPS/portps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WOW.PortPS.WebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://WOW.PortPS.WebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WOW.PortPS.WebService/">
      <s:element name="GetCurrentProviderByTN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:PortPSRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PortPSRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RequestHeader" type="tns:RequestHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestBody" type="tns:RequestBody" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerUse" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestBody">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TelephoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HouseKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCurrentProviderByTNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentProviderByTNResult" type="tns:PortPSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PortPSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseHeader" type="tns:ResponseHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseBody" type="tns:ResponseBody" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerUse" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseBody">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiresAccountNumber" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiresPIN" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="OldProviderAccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OldProviderPIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SetPortFlag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateHouseForPortedNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:PortPSRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateHouseForPortedNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateHouseForPortedNumberResult" type="tns:PortPSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentProviderByTNSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentProviderByTN" />
  </wsdl:message>
  <wsdl:message name="GetCurrentProviderByTNSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentProviderByTNResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateHouseForPortedNumberSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateHouseForPortedNumber" />
  </wsdl:message>
  <wsdl:message name="UpdateHouseForPortedNumberSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateHouseForPortedNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="PortPSSoap">
    <wsdl:operation name="GetCurrentProviderByTN">
      <wsdl:input message="tns:GetCurrentProviderByTNSoapIn" />
      <wsdl:output message="tns:GetCurrentProviderByTNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHouseForPortedNumber">
      <wsdl:input message="tns:UpdateHouseForPortedNumberSoapIn" />
      <wsdl:output message="tns:UpdateHouseForPortedNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortPSSoap" type="tns:PortPSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentProviderByTN">
      <soap:operation soapAction="http://WOW.PortPS.WebService/GetCurrentProviderByTN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHouseForPortedNumber">
      <soap:operation soapAction="http://WOW.PortPS.WebService/UpdateHouseForPortedNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PortPSSoap12" type="tns:PortPSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentProviderByTN">
      <soap12:operation soapAction="http://WOW.PortPS.WebService/GetCurrentProviderByTN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHouseForPortedNumber">
      <soap12:operation soapAction="http://WOW.PortPS.WebService/UpdateHouseForPortedNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortPS">
    <wsdl:port name="PortPSSoap" binding="tns:PortPSSoap">
      <soap:address location="http://10.20.10.168/portps/portps.asmx" />
    </wsdl:port>
    <wsdl:port name="PortPSSoap12" binding="tns:PortPSSoap12">
      <soap12:address location="http://10.20.10.168/portps/portps.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>