Service References/OrderUpdateService/OrderUpdate1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://wowway.com/services/BillingSystem/OrderUpdate" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wowway.com/services/BillingSystem/OrderUpdate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wowway.com/services/BillingSystem/OrderUpdate/Imports">
      <xsd:import schemaLocation="http://10.20.10.102/WOW.BillingSystem.OrderUpdate/OrderUpdate.svc?xsd=xsd0" namespace="http://wowway.com/services/BillingSystem/OrderUpdate" />
      <xsd:import schemaLocation="http://10.20.10.102/WOW.BillingSystem.OrderUpdate/OrderUpdate.svc?xsd=xsd3" namespace="http://wowway.com/services/" />
      <xsd:import schemaLocation="http://10.20.10.102/WOW.BillingSystem.OrderUpdate/OrderUpdate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.20.10.102/WOW.BillingSystem.OrderUpdate/OrderUpdate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WOW.BillingSystem.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderUpdate_AddServiceCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddServiceCode" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_AddServiceCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddServiceCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_AddServiceCode_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://wowway.com/services/" name="detail" element="q1:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_AddServiceCode_BillingSystemExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://wowway.com/services/" name="detail" element="q2:BillingSystemException" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_Schedule_InputMessage">
    <wsdl:part name="parameters" element="tns:Schedule" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_Schedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_Schedule_BillingSystemExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://wowway.com/services/" name="detail" element="q3:BillingSystemException" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_Schedule_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://wowway.com/services/" name="detail" element="q4:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_Unlock_InputMessage">
    <wsdl:part name="parameters" element="tns:Unlock" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_Unlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_Unlock_BillingSystemExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://wowway.com/services/" name="detail" element="q5:BillingSystemException" />
  </wsdl:message>
  <wsdl:message name="IOrderUpdate_Unlock_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://wowway.com/services/" name="detail" element="q6:ValidationException" />
  </wsdl:message>
  <wsdl:portType name="IOrderUpdate">
    <wsdl:operation name="AddServiceCode">
      <wsdl:input wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/AddServiceCode" message="tns:IOrderUpdate_AddServiceCode_InputMessage" />
      <wsdl:output wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/AddServiceCodeResponse" message="tns:IOrderUpdate_AddServiceCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/AddServiceCodeValidationExceptionFault" name="ValidationExceptionFault" message="tns:IOrderUpdate_AddServiceCode_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/AddServiceCodeBillingSystemExceptionFault" name="BillingSystemExceptionFault" message="tns:IOrderUpdate_AddServiceCode_BillingSystemExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Schedule">
      <wsdl:input wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/Schedule" message="tns:IOrderUpdate_Schedule_InputMessage" />
      <wsdl:output wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/ScheduleResponse" message="tns:IOrderUpdate_Schedule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/ScheduleBillingSystemExceptionFault" name="BillingSystemExceptionFault" message="tns:IOrderUpdate_Schedule_BillingSystemExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/ScheduleValidationExceptionFault" name="ValidationExceptionFault" message="tns:IOrderUpdate_Schedule_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unlock">
      <wsdl:input wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/Unlock" message="tns:IOrderUpdate_Unlock_InputMessage" />
      <wsdl:output wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/UnlockResponse" message="tns:IOrderUpdate_Unlock_OutputMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/UnlockBillingSystemExceptionFault" name="BillingSystemExceptionFault" message="tns:IOrderUpdate_Unlock_BillingSystemExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://wowway.com/services/BillingSystem/OrderUpdate/IOrderUpdate/UnlockValidationExceptionFault" name="ValidationExceptionFault" message="tns:IOrderUpdate_Unlock_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>