Main/Service References/CustomerCare/Customer5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://apiexternaldev.wideopenwest.com/Enterprise/CareQuery/Customer.svc?xsd=xsd0" namespace="http://wowway.com/Care/Query" />
  <xs:complexType name="AccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTenure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BulkFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerSegmentation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaytimePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EveningPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VipCodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VipFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountInfo" nillable="true" type="tns:AccountInfo" />
  <xs:complexType name="BillingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountStanding" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://wowway.com/Care/Query" minOccurs="0" name="AutoPay" type="q1:AutoPay" />
      <xs:element minOccurs="0" name="BillCycle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillGroupid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountDollars" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastDayToPay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastPaymentAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastPaymentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastStatementAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastStatementDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextStatementDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PastDueAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PastDueDays" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentBlockStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentDueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentDueDateDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentsStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PendingPayment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCharges" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingInfo" nillable="true" type="tns:BillingInfo" />
  <xs:complexType name="CableInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisconnectDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstConnectDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumCinemax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumHBO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumShowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumStarz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CableInfo" nillable="true" type="tns:CableInfo" />
  <xs:complexType name="ArrayOfEquipmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentInfo" nillable="true" type="tns:EquipmentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentInfo" nillable="true" type="tns:ArrayOfEquipmentInfo" />
  <xs:complexType name="EquipmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EquipmentModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EquipmentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Macaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipmentInfo" nillable="true" type="tns:EquipmentInfo" />
  <xs:complexType name="InternetInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisconnectDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstConnectDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeEmailQty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetEmailQty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InternetInfo" nillable="true" type="tns:InternetInfo" />
  <xs:complexType name="OtherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorizedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoNotSolicit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSeasonalHold" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceProtectionPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SynacorprodId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ultra" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherInfo" nillable="true" type="tns:OtherInfo" />
  <xs:complexType name="ArrayOfPackageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageInfo" nillable="true" type="tns:PackageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageInfo" nillable="true" type="tns:ArrayOfPackageInfo" />
  <xs:complexType name="PackageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageInfo" nillable="true" type="tns:PackageInfo" />
  <xs:complexType name="PhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisconnectDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstConnectDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneInfo" nillable="true" type="tns:PhoneInfo" />
  <xs:complexType name="ServiceAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApartmentNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAddressInfo" nillable="true" type="tns:ServiceAddressInfo" />
  <xs:complexType name="ArrayOfPostedPaymentItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostedPaymentItem" nillable="true" type="tns:PostedPaymentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostedPaymentItem" nillable="true" type="tns:ArrayOfPostedPaymentItem" />
  <xs:complexType name="PostedPaymentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentDateTimeUTC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermanentTokenNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpfrontFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostedPaymentItem" nillable="true" type="tns:PostedPaymentItem" />
  <xs:complexType name="PersonalIdentityInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcctPin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartialDL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartialSSN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalIdentityInfoItem" nillable="true" type="tns:PersonalIdentityInfoItem" />
  <xs:complexType name="RetriveNetworkForAddressItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalogCableNetwork" type="xs:short">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DigitalCableNetwork" type="xs:short">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Internetnetwork" type="xs:short">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NetworkType" nillable="true" type="tns:ArrayOfNetworkTypes" />
      <xs:element minOccurs="0" name="Phonenetwork" type="xs:short">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetriveNetworkForAddressItem" nillable="true" type="tns:RetriveNetworkForAddressItem" />
  <xs:complexType name="ArrayOfNetworkTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NetworkTypes" nillable="true" type="tns:NetworkTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetworkTypes" nillable="true" type="tns:ArrayOfNetworkTypes" />
  <xs:complexType name="NetworkTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="NetworkId" type="xs:int" />
      <xs:element minOccurs="0" name="NetworkName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://wowway.com/Care/Query" minOccurs="0" name="ProductLine" type="q2:ProductLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkTypes" nillable="true" type="tns:NetworkTypes" />
  <xs:complexType name="ArrayOfSearchBillingPackageItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchBillingPackageItem" nillable="true" type="tns:SearchBillingPackageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchBillingPackageItem" nillable="true" type="tns:ArrayOfSearchBillingPackageItem" />
  <xs:complexType name="SearchBillingPackageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="PackageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchBillingPackageItem" nillable="true" type="tns:SearchBillingPackageItem" />
</xs:schema>