Main/Service References/CustomerCare/Customer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wowway.com/Care/Query" elementFormDefault="qualified" targetNamespace="http://wowway.com/Care/Query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://apiexternaldev.wideopenwest.com/Enterprise/CareQuery/Customer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://apiexternaldev.wideopenwest.com/Enterprise/CareQuery/Customer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://apiexternaldev.wideopenwest.com/Enterprise/CareQuery/Customer.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" />
  <xs:import schemaLocation="https://apiexternaldev.wideopenwest.com/Enterprise/CareQuery/Customer.svc?xsd=xsd5" namespace="http://wowway.com/Care/Command" />
  <xs:element name="CustomerSearchByAccountNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerSearchByAccountNumberRequest" nillable="true" type="tns:CustomerSearchByAccountNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CustomerSearchByAccountNumberRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSearchByAccountNumberRequest" nillable="true" type="tns:CustomerSearchByAccountNumberRequest" />
  <xs:simpleType name="BillingSystem">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Icoms" />
      <xs:enumeration value="Usha" />
      <xs:enumeration value="Comporium" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BillingSystem" nillable="true" type="tns:BillingSystem" />
  <xs:element name="CustomerSearchByAccountNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerSearchByAccountNumberResult" nillable="true" type="tns:CustomerSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CustomerSearchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSearchResponse" nillable="true" type="tns:CustomerSearchResponse" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApartmentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerSegmentationValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaytimePhone" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EmailAdresses" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="EveningPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:element name="CustomerSearchByPhoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerSearchByPhoneNumberRequest" nillable="true" type="tns:CustomerSearchByPhoneNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CustomerSearchByPhoneNumberRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element minOccurs="0" name="IsMultiple" type="xs:boolean" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSearchByPhoneNumberRequest" nillable="true" type="tns:CustomerSearchByPhoneNumberRequest" />
  <xs:element name="CustomerSearchByPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerSearchByPhoneNumberResult" nillable="true" type="tns:CustomerSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearchByNameAndAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerSearchByNameAndAddressRequest" nillable="true" type="tns:CustomerSearchByNameAndAddressRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CustomerSearchByNameAndAddressRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" type="tns:CustomerType" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSearchByNameAndAddressRequest" nillable="true" type="tns:CustomerSearchByNameAndAddressRequest" />
  <xs:simpleType name="CustomerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Residential" />
      <xs:enumeration value="Business" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerType" nillable="true" type="tns:CustomerType" />
  <xs:element name="CustomerSearchByNameAndAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerSearchByNameAndAddressResult" nillable="true" type="tns:CustomerSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearchByEmailAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerSearchByEmailAddress" nillable="true" type="tns:CustomerSearchByEmailAddressRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CustomerSearchByEmailAddressRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSearchByEmailAddressRequest" nillable="true" type="tns:CustomerSearchByEmailAddressRequest" />
  <xs:element name="CustomerSearchByEmailAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerSearchByEmailAddressResult" nillable="true" type="tns:CustomerSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerDetailsByAccountNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerDetailsRequest" nillable="true" type="tns:CustomerDetailsByAccountNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CustomerDetailsByAccountNumberRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfService" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDetailsByAccountNumberRequest" nillable="true" type="tns:CustomerDetailsByAccountNumberRequest" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:simpleType name="Service">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Account" />
      <xs:enumeration value="ServiceAddress" />
      <xs:enumeration value="Billing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cable">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Internet">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Phone">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Package">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Equipment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OtherAttributes">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:element name="CustomerDetailsByAccountNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerDetailsByAccountNumberResult" nillable="true" type="tns:CustomerDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CustomerDetailsResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="Account" nillable="true" type="q2:AccountInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="Billing" nillable="true" type="q3:BillingInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="Cable" nillable="true" type="q4:CableInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="Equipments" nillable="true" type="q5:ArrayOfEquipmentInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="Internet" nillable="true" type="q6:InternetInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="OtherAttributes" nillable="true" type="q7:OtherInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="Packages" nillable="true" type="q8:ArrayOfPackageInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="Phone" nillable="true" type="q9:PhoneInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="ServiceAddress" nillable="true" type="q10:ServiceAddressInfo">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDetailsResponse" nillable="true" type="tns:CustomerDetailsResponse" />
  <xs:simpleType name="AutoPay">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Bank" />
      <xs:enumeration value="CreditCard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AutoPay" nillable="true" type="tns:AutoPay" />
  <xs:element name="PostedPaymentsByAccountNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postedPaymentRequest" nillable="true" type="tns:PostedPaymentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PostedPaymentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginDateTimeUTC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element minOccurs="0" name="EndDateTimeUTC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostedPaymentRequest" nillable="true" type="tns:PostedPaymentRequest" />
  <xs:element name="PostedPaymentsByAccountNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostedPaymentsByAccountNumberResult" nillable="true" type="tns:PostedPaymentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PostedPaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="PostedPaymentItem" nillable="true" type="q11:ArrayOfPostedPaymentItem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostedPaymentResponse" nillable="true" type="tns:PostedPaymentResponse" />
  <xs:element name="PersonalIdentityInfoByAccountNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postedPaymentRequest" nillable="true" type="tns:PersonalIdentityInfoByAccountNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PersonalIdentityInfoByAccountNumberRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalIdentityInfoByAccountNumberRequest" nillable="true" type="tns:PersonalIdentityInfoByAccountNumberRequest" />
  <xs:element name="PersonalIdentityInfoByAccountNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://wowway.com/Care/Command" minOccurs="0" name="PersonalIdentityInfoByAccountNumberResult" nillable="true" type="q12:PersonalIdentityInfoByAccountNumberResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearchByHouseNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postedPaymentRequest" nillable="true" type="tns:CustomerSearchByHouseNumberRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CustomerSearchByHouseNumberRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSearchByHouseNumberRequest" nillable="true" type="tns:CustomerSearchByHouseNumberRequest" />
  <xs:element name="CustomerSearchByHouseNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerSearchByHouseNumberResult" nillable="true" type="tns:CustomerSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetworkForAddressUsha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retriveNetworkForAddressRequest" nillable="true" type="tns:RetriveNetworkForAddressRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RetriveNetworkForAddressRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetriveNetworkForAddressRequest" nillable="true" type="tns:RetriveNetworkForAddressRequest" />
  <xs:element name="NetworkForAddressUshaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NetworkForAddressUshaResult" nillable="true" type="tns:RetriveNetworkForAddressResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RetriveNetworkForAddressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="RetriveNetworkForAddressItem" nillable="true" type="q13:RetriveNetworkForAddressItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetriveNetworkForAddressResponse" nillable="true" type="tns:RetriveNetworkForAddressResponse" />
  <xs:simpleType name="ProductLine">
    <xs:restriction base="xs:string">
      <xs:enumeration value="phone">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="analog">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">19</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="digital">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="internet">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductLine" nillable="true" type="tns:ProductLine" />
  <xs:element name="PackageListUsha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchBillingPackageRequest" nillable="true" type="tns:BillingPackageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BillingPackageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerType" type="tns:CustomerTypeUsha" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingPackageRequest" nillable="true" type="tns:BillingPackageRequest" />
  <xs:simpleType name="CustomerTypeUsha">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Commercial">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MDU">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Residential">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Government">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerTypeUsha" nillable="true" type="tns:CustomerTypeUsha" />
  <xs:element name="PackageListUshaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PackageListUshaResult" nillable="true" type="tns:BillingPackageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BillingPackageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="SearchBillingPackageItem" nillable="true" type="q14:ArrayOfSearchBillingPackageItem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingPackageResponse" nillable="true" type="tns:BillingPackageResponse" />
  <xs:element name="ProductDetailUsha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchProductLineRequest" nillable="true" type="tns:ProductLineRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProductLineRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" type="tns:CustomerTypeUsha" />
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetworkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanProductServices" nillable="true" type="tns:ArrayOfPlanProductService" />
      <xs:element minOccurs="0" name="ProductLine" type="tns:ProductLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductLineRequest" nillable="true" type="tns:ProductLineRequest" />
  <xs:complexType name="ArrayOfPlanProductService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanProductService" type="tns:PlanProductService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanProductService" nillable="true" type="tns:ArrayOfPlanProductService" />
  <xs:simpleType name="PlanProductService">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Plan">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Product">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Services">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pic">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LPic">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PhoneDirectory">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlanProductService" nillable="true" type="tns:PlanProductService" />
  <xs:element name="ProductDetailUshaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductDetailUshaResult" nillable="true" type="tns:ProductLineResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProductLineResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lpic" nillable="true" type="tns:ArrayOfLpic">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PhoneDirectoryListing" nillable="true" type="tns:PhoneDirectoryListing">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Pic" nillable="true" type="tns:ArrayOfPic">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Plan" nillable="true" type="tns:ArrayOfPlan">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ServicesProperties" nillable="true" type="tns:ArrayOfServiceProperty">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductLineResponse" nillable="true" type="tns:ProductLineResponse" />
  <xs:complexType name="ArrayOfLpic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lpic" nillable="true" type="tns:Lpic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLpic" nillable="true" type="tns:ArrayOfLpic" />
  <xs:complexType name="Lpic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lpic" nillable="true" type="tns:Lpic" />
  <xs:complexType name="PhoneDirectoryListing">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DirectorySections" nillable="true" type="q15:ArrayOfstring" />
      <xs:element minOccurs="0" name="Headers" nillable="true" type="tns:ArrayOfHeader" />
      <xs:element minOccurs="0" name="SeqFrequency" nillable="true" type="tns:ArrayOfSeqFrequency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneDirectoryListing" nillable="true" type="tns:PhoneDirectoryListing" />
  <xs:complexType name="ArrayOfHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Header" nillable="true" type="tns:Header" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeader" nillable="true" type="tns:ArrayOfHeader" />
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeaderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeaderDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Header" nillable="true" type="tns:Header" />
  <xs:complexType name="ArrayOfSeqFrequency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeqFrequency" nillable="true" type="tns:SeqFrequency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeqFrequency" nillable="true" type="tns:ArrayOfSeqFrequency" />
  <xs:complexType name="SeqFrequency">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrequencyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrequencyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeqFrequency" nillable="true" type="tns:SeqFrequency" />
  <xs:complexType name="ArrayOfPic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pic" nillable="true" type="tns:Pic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPic" nillable="true" type="tns:ArrayOfPic" />
  <xs:complexType name="Pic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pic" nillable="true" type="tns:Pic" />
  <xs:complexType name="ArrayOfPlan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Plan" nillable="true" type="tns:Plan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlan" nillable="true" type="tns:ArrayOfPlan" />
  <xs:complexType name="Plan">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlanId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plan" nillable="true" type="tns:Plan" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfServiceProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceProperty" nillable="true" type="tns:ServiceProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceProperty" nillable="true" type="tns:ArrayOfServiceProperty" />
  <xs:complexType name="ServiceProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyValueRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiredFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceProperty" nillable="true" type="tns:ServiceProperty" />
  <xs:element name="GetCollectionDetailByAccountNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchProductLineRequest" nillable="true" type="tns:CollectionsDetailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CollectionsDetailRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionsDetailRequest" nillable="true" type="tns:CollectionsDetailRequest" />
  <xs:element name="GetCollectionDetailByAccountNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCollectionDetailByAccountNumberResult" nillable="true" type="tns:CollectionsDetailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CollectionsDetailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollectionsDetailItem" nillable="true" type="tns:CollectionsDetailItem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionsDetailResponse" nillable="true" type="tns:CollectionsDetailResponse" />
  <xs:complexType name="CollectionsDetailItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasNonPay" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBankruptcy" type="xs:boolean" />
      <xs:element minOccurs="0" name="PromiseAmount" type="xs:float" />
      <xs:element minOccurs="0" name="PromiseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WriteOffAmount" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionsDetailItem" nillable="true" type="tns:CollectionsDetailItem" />
  <xs:element name="GetMemo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMemoRequest" nillable="true" type="tns:GetMemoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetMemoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingSystem" type="tns:BillingSystem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMemoRequest" nillable="true" type="tns:GetMemoRequest" />
  <xs:element name="GetMemoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemoResult" nillable="true" type="tns:MemoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MemoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetMemoItem" nillable="true" type="tns:ArrayOfGetMemoItem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemoResponse" nillable="true" type="tns:MemoResponse" />
  <xs:complexType name="ArrayOfGetMemoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetMemoItem" nillable="true" type="tns:GetMemoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetMemoItem" nillable="true" type="tns:ArrayOfGetMemoItem" />
  <xs:complexType name="GetMemoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentEnterDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentTransactionSeq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeqNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMemoItem" nillable="true" type="tns:GetMemoItem" />
</xs:schema>