Main/Service References/CustomerCare/Customer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wowway.com/Care/Command" elementFormDefault="qualified" targetNamespace="http://wowway.com/Care/Command" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://apiexternaldev.wideopenwest.com/Enterprise/CareQuery/Customer.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" />
  <xs:complexType name="PersonalIdentityInfoByAccountNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Types" minOccurs="0" name="PersonalIdentityInfoItem" nillable="true" type="q1:PersonalIdentityInfoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalIdentityInfoByAccountNumberResponse" nillable="true" type="tns:PersonalIdentityInfoByAccountNumberResponse" />
</xs:schema>