Main/Service References/CustomerCare/Customer4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WOW.Care.Contracts.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SecurityFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityFaultException" nillable="true" type="tns:SecurityFaultException" />
  <xs:complexType name="DbFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbFaultException" nillable="true" type="tns:DbFaultException" />
  <xs:complexType name="WowCareSystemFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WowCareSystemFaultException" nillable="true" type="tns:WowCareSystemFaultException" />
  <xs:complexType name="ParameterFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterFaultException" nillable="true" type="tns:ParameterFaultException" />
</xs:schema>