Main/Service References/CustomerService/CustomerManagement43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Address" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Address" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddressIcoms">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Company" type="xs:int" />
          <xs:element minOccurs="0" name="Division" type="xs:int" />
          <xs:element minOccurs="0" name="Franchise" type="xs:int" />
          <xs:element minOccurs="0" name="FranchiseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IcomsLocationID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegacyPrin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pool" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressIcoms" nillable="true" type="tns:AddressIcoms" />
  <xs:complexType name="AddressBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addr1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addr2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormattedAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressBase" nillable="true" type="tns:AddressBase" />
  <xs:complexType name="AddressValidateOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressConfirmed" type="xs:boolean" />
          <xs:element minOccurs="0" name="DuoShareMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FriendlyResultMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressValidateOutput" nillable="true" type="tns:AddressValidateOutput" />
</xs:schema>